{
  "extends": "stylelint-config-sass-guidelines",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "max-empty-lines": null,
    "color-hex-case": "upper",
    "order/properties-alphabetical-order": null,
    "selector-class-pattern": null,
    "selector-no-qualifying-type": [true, {"ignore": ["attribute"]}],
    "max-nesting-depth": null
  }
}
